<!DOCTYPE html>
<html lang="en">
<head>
  
  {% block title %}<title>Local Library</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/freelancer.css' %}">
  <link rel="stylesheet" href="{% static 'css/all.min.css' %}" >
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" rel="stylesheet" >
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
 
  
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>

<body id="page-top">
  {% block sidebar %}
  <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="index.html"><img src="{% static 'images/logo.png' %}" alt=""></a>
      <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#inicio">Inicio</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">Peliculas</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="contacto.html">Contacto</a>
          </li>
        </ul>
        
      </div>
  
    </div>
  </nav>
  {% endblock %}

  {% block content %}
  {% endblock %}

  <!-- Footer -->
  <footer class="footer text-center">
    <div class="container">
      <div class="row">

        <!-- Footer Location -->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Dirección: </h4>
          <p class="lead mb-0"> Esq Blanca 501
            <br>Maipú, Región Metropolitana</p>
        </div>

        <!-- Footer Social Icons -->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <a href="index.html"><img src="{% static 'images/logofooter.png' %}" alt=""></a>
        </div>

        <!-- Footer About Text -->
        <div class="col-lg-4">
          <h4 class="text-uppercase mb-4">Contacto</h4>
          <p class="lead mb-0"> 
              
            <i class="fa fa-envelope">  </i>
            <a class="link" href="mailto:r.quelempan@alumnos.duoc.cl">  Sugerencias </a>
            <br>
            <i class="fa fa-comment"></i>
            <a class="link" href="contacto.html">Contactenos</a>
            <br>
            <i class="fa fa-phone-alt"></i>
            Teléfono: 
            <a class="link" href="tel:+56227136600">+56 22 713 66 00</a>
            <br>
            <i class="fa fa-"></i>
            Horario de atención: 8:30 a 19:00 hrs.
          
          </p>
        </div>

      </div>
    </div>
  </footer>

  <!-- Copyright Section -->
  <section class="copyright py-4 text-center text-white">
    <div class="container">
      <h6>Copyright &copy; CineCachupin 2019</h6>
    </div>
  </section>
</body>
</html>