{% extends "base_generic.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">


  <!-- Custom fonts for this theme -->
  {% load static %}


  <!-- Carrusel javascript-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  

  <link href="{% static 'css/freelancer.css' %}" rel="stylesheet">
</head>

  <!-- Theme CSS -->


<body id="page-top">

  <!-- Navigation -->


  <!-- Masthead -->
  <header class="masthead bg-primary text-white text-center" id="inicio">
    <div class="container d-flex align-items-center flex-column">

      <!-- Masthead Avatar Image -->
      <div class="container">
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
        
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active">
                <a href="mascotas.html"><img src="{% static 'img/carrusel/mascotas.jpg' %}" alt="La vida secreta de tus mascotas 2" style="width:100%;"></a>
              </div>
        
              <div class="item">
                <a href="zoo.html"><img src="{% static 'img/carrusel/zoo.jpg' %}" alt="Zootopia" style="width:100%;"></a>
              </div>
            
              <div class="item">
                <a href="reyleon.html"><img src="{% static 'img/carrusel/rey.jpg' %}" alt="Rey león" style="width:100%;"></a>
              </div>
            </div>
        
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>

    </div>
  </header>

  <!-- Portfolio Section -->
  <section class="page-section portfolio" id="portfolio">
    <div class="container">

      <!-- Portfolio Section Heading -->
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Peliculas</h2>

      <!-- Icon Divider -->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-film"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <!-- Portfolio Grid Items -->
      <div class="row">

        <!-- Portfolio Item 1 -->
        
        
          <div class="col-md-6 col-lg-4">
              <a href="mascotas.html">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
              <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-eye fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="{% static 'img/portfolio/mascotas.jpg' %}" alt="">
          </div></a>
        </div>

        <!-- Portfolio Item 2 -->
        <div class="col-md-6 col-lg-4">
          <a href="zoo.html">
            <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
              <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                <div class="portfolio-item-caption-content text-center text-white">
                  <i class="fas fa-eye fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'img/portfolio/zoo.jpg' %}" alt="">
            </div>
          </a>
          </div>

        <!-- Portfolio Item 3 -->
        
        <div class="col-md-6 col-lg-4">
            <a href="reyleon.html"> 
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal3">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-eye fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="{% static 'img/portfolio/rey.jpg' %}" alt="">
          </div></a>
        </div>

       

      </div>
      <!-- /.row -->

    </div>
  </section>

  

  <!-- Contact Section -->
  

  <!-- Footer -->
  <footer class="footer text-center">
    <div class="container">
      <div class="row">

        <!-- Footer Location -->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Dirección: </h4>
          <p class="lead mb-0"> Esq Blanca 501
            <br>Maipú, Región Metropolitana</p>
        </div>

        <!-- Footer Social Icons -->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <a href="index.html"><img src="{% static 'img/logofooter.png' %}" alt=""></a>
        </div>

        <!-- Footer About Text -->
        <div class="col-lg-4">
          <h4 class="text-uppercase mb-4">Contacto</h4>
          <p class="lead mb-0"> 
              
            <i class="fa fa-envelope">  </i>
            <a class="link" href="mailto:r.quelempan@alumnos.duoc.cl">  Sugerencias </a>
            <br>
            <i class="fa fa-comment"></i>
            <a class="link" href="contacto.html">Contactenos</a>
            <br>
            <i class="fa fa-phone-alt"></i>
            Teléfono: 
            <a class="link" href="tel:+56227136600">+56 22 713 66 00</a>
            <br>
            <i class="fa fa-"></i>
            Horario de atención: 8:30 a 19:00 hrs.
          
          </p>
        </div>

      </div>
    </div>
  </footer>

  <!-- Copyright Section -->
  <section class="copyright py-4 text-center text-white">
    <div class="container">
      <h6>Copyright &copy; CineCachupin 2019</h6>
    </div>
  </section>

  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-to-top d-lg-none position-fixed ">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>

  
  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Contact Form JavaScript -->
  <script src="{% static 'js/jqBootstrapValidation.js' %}"></script>
  <script src="{% static 'js/contact_me.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'js/freelancer.min.js' %}"></script>

</body>

</html>
 {% endblock %}